body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
     padding-top: 70px;
}
.jumbotron h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.jumbotron_img {
    margin-top: -20px;
}
.row-margin {
    margin: 40px -15px;
}
.index-page .page-header {
    text-align: center;
}
footer {
    text-align: center;
    background-color: #222222;
    color: white;
    padding: 20px 0;
}