.mdi-inactive {
  color: #ccc;
}

.q-tab.horizontal {
  flex-direction: row;
  min-height: 52px;

  .q-tab-label-parent {
    margin-top: 0;
    margin-left: 6px;
  }
}

.on-left {
  margin-right: 8px;
}

.q-field.field-content-center {
  .q-field-content {
    text-align: center;
  }
}

.q-field.field-content-right {
  .q-field-content {
    text-align: right;
  }
}

.q-field {
  position: relative;

  .right-label {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 28px;
    font-weight: bold;
    color: var(--q-color-primary);

    .q-btn {
      margin-top: -2px;
    }
  }
}