<div class="tab-pane active" id="tp_windowsphone">
    <div class="row">
        <div class="col-md-6" style="background: url('/img/windowsphone.png') no-repeat; height:743px; position: relative">
            <div style="position: absolute; left:307px; top:276px;">
                <img ng-src="{{ basePath + 'SmallLogo106x106.png' }}" alt="" style="width: 76px; height: 76px;"/>
            </div>
            <div style="position: absolute; left:221px; top:447px;">
                <img ng-src="{{ basePath + 'Logo360x360.png' }}" alt="" style="width: 162px; height: 162px;"/>
                <p style="position: absolute; left: 11px; top: 138px; color: white; font-size: 13px;">您的应用</p>
            </div>
        </div>
        <div class="col-md-6 icons-col">
            <div class="row icons-row">
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'SmallLogo.png' }}" alt="" class="x1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">100%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        44pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'SmallLogo62x62.png' }}" alt="" class="x2"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">140%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        62pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'SmallLogo106x106.png' }}" alt="" class="x4"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">240%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        106pt
                    </div>
                </div>
            </div>
            <div class="row icons-row">
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'Square71x71Logo.png' }}" alt="" class="x1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">100%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        71pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'Square99x99Logo.png' }}" alt="" class="x2"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">140%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        99pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'Square170x170Logo.png' }}" alt="" class="x4"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">240%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        170pt
                    </div>
                </div>
            </div>
            <div class="row icons-row">
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'Logo.png' }}" alt="" class="x3"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">100%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        150pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'Logo210x210.png' }}" alt="" class="x4"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">140%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        210pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'Logo360x360.png' }}" alt="" class="x5"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">240%</div>
                    </div>
                    <div class="description">
                        Square Logo<br/>
                        360pt
                    </div>
                </div>
            </div>
            <div class="row icons-row">
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'StoreLogo.png' }}" alt="" class="x1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">100%</div>
                    </div>
                    <div class="description">
                        Store Logo<br/>
                        50pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'StoreLogo70x70.png' }}" alt="" class="x2"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">140%</div>
                    </div>
                    <div class="description">
                        Store Logo<br/>
                        70pt
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'StoreLogo120x120.png' }}" alt="" class="x4"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">240%</div>
                    </div>
                    <div class="description">
                        Store Logo<br/>
                        120pt
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
