<div class="tab-pane active" id="tp_webapp">
    <div class="row">
        <div class="col-md-6" style="background: url('/img/webapp.png') no-repeat; height:743px; position: relative">
            <div style="position: absolute; left: 45px; top: 220px;">
                <img ng-src="{{ basePath + 'apple-touch-icon-120x120.png' }}" alt="" class="x4" style="width:60px; height:60px"/>
                <div style="position: absolute; left: 80px; top: -13px; line-height: 3em; min-width: 200px">
                    <div style="color: #666">您的应用</div>
                    <div style="color: #bbb">{{ url }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 icons-col">
            <div class="row icons-row">
                <div class="col-sm-6">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'apple-touch-icon-120x120.png' }}" alt="" class="x3"/>
                        </div>
                    </div>
                    <div class="row sub-icon">
                        <div class="col-xs-12">2x</div>
                    </div>
                    <div class="description">
                        iPhones with iOS 7 / 8<br/>
                        For iPhone 4s, 5, 5s and 6<br/>
                        120pt
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'apple-touch-icon-180x180.png' }}" alt="" class="x4"/>
                        </div>
                    </div>
                    <div class="row sub-icon">
                        <div class="col-xs-12">3x</div>
                    </div>
                    <div class="description">
                        iPhone with iOS 7 / 8<br/>
                        For iPhone 6 Plus<br/>
                        180pt
                    </div>
                </div>
            </div>
            <div class="row icons-row">
                <div class="col-sm-6">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'apple-touch-icon-76x76.png' }}" alt="" class="x2"/>
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'apple-touch-icon-152x152.png' }}" alt="" class="x3"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        <div class="col-xs-6">
                            iPads with iOS 7 / 8<br/>
                            For iPad 2<br/>
                            76pt
                        </div>
                        <div class="col-xs-6">
                            iPads with iOS 7 / 8<br/>
                            For iPad 3, 4, Air and Mini<br/>
                            152pt
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 no-radius">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'android-touch-icon.png' }}" alt="" class="x1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">1x</div>
                    </div>
                    <div class="description">
                        Android Devices<br/>
                        58pt
                    </div>
                </div>
            </div>
            <div style="text-align: left">
                <p style="font-size: 16px; color: #333;">在您的网站(WebApp)里面添加如下代码: </p>
                <pre>
&lt;<strong>link</strong> rel="<span class="string">apple-touch-icon</span>" sizes="<span class="string">76x76</span>" href="<span class="string">apple-touch-icon-76x76.png</span>" /&gt;
&lt;<strong>link</strong> rel="<span class="string">apple-touch-icon</span>" sizes="<span class="string">120x120</span>" href="<span class="string">apple-touch-icon-120x120.png</span>" /&gt;
&lt;<strong>link</strong> rel="<span class="string">apple-touch-icon</span>" sizes="<span class="string">152x152</span>" href="<span class="string">apple-touch-icon-152x152.png</span>" /&gt;
&lt;<strong>link</strong> rel="<span class="string">apple-touch-icon</span>" sizes="<span class="string">180x180</span>" href="<span class="string">apple-touch-icon-180x180.png</span>" /&gt;
&lt;<strong>link</strong> rel="<span class="string">apple-touch-icon</span>" sizes="<span class="string">58x58</span>" href="<span class="string">android-touch-icon.png</span>" /&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
