<div class="tab-pane active" id="tp_android">
    <div class="row">
        <div class="col-md-6">
            <div class="mobile_preview" style="background: url('/img/nexus5.png') no-repeat;">
                <div style="position: absolute; left:50px; top:180px;">
                    <img ng-src="{{ basePath + androidFolder }}-xxxhdpi/ic_launcher.png" alt="" style="width:64px; height:64px;" />
                    <p style="color: #ccc;font-weight: normal;font-size: 12px;text-align: center;padding-top: 8px; font-weight:bold">您的应用</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 icons-col">
            <div class="row icons-row">
                <div class="col-sm-6">
                    <div style="line-height: 48px; vertical-align: middle">
                        <img ng-src="{{ basePath + androidFolder }}-ldpi/ic_launcher.png" alt="" style="width:36px; height:36px;" />
                    </div>
                    <div class="description">
                        1x<br/>
                        LDPI
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img ng-src="{{ basePath + androidFolder }}-mdpi/ic_launcher.png" alt="" style="width:48px; height:48px;" />
                    </div>
                    <div class="description">
                        1x<br/>
                        MDPI
                    </div>
                </div>
            </div>
            <div class="row icons-row">
                <div class="col-sm-6">
                    <div style="line-height: 96px; vertical-align: middle">
                        <img ng-src="{{ basePath + androidFolder }}-hdpi/ic_launcher.png" alt="" style="width:72px; height:72px;" />
                    </div>
                    <div class="description">
                        1.5x<br/>
                        HDPI
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img ng-src="{{ basePath + androidFolder }}-xhdpi/ic_launcher.png" alt="" style="width:96px; height:96px;" />
                    </div>
                    <div class="description">
                        2x<br/>
                        XDPI
                    </div>
                </div>
            </div>
            <div class="row icons-row">
                <div class="col-sm-6">
                    <div style="line-height: 192px; vertical-align: middle">
                        <img ng-src="{{ basePath + androidFolder }}-xxhdpi/ic_launcher.png" alt="" style="width:144px; height:144px;" />
                    </div>
                    <div class="description">
                        3x<br/>
                        XXDPI
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <img ng-src="{{ basePath + androidFolder }}-xxxhdpi/ic_launcher.png" alt="" style="width:192px; height:192px;" />
                    </div>
                    <div class="description">
                        4x<br/>
                        XXXDPI
                    </div>
                </div>
            </div>
            <div class="row icons-row" style="padding-top: 30px">
                <div class="col-sm-12">
                    以及
                    <a target="_blank" ng-href="{{ basePath + 'playstore-icon.png' }}"><span class="label label-info" style="font-size:13px;">Google Play 图标</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
