<div class="tab-pane active" id="tp_quasar">
    <uib-accordion>
        <uib-accordion-group heading="PWA" is-open="true" panel-class="panel-info">
            <div class="icons-col">
                <div class="row icon-row">
                    <div class="col-xs-3">
                        <img ng-src="{{ basePath + 'icons/favicon-16x16.png' }}" alt="" class="x1"/>
                    </div>
                    <div class="col-xs-3">
                        <img ng-src="{{ basePath + 'icons/favicon-32x32.png' }}" alt="" class="x1"/>
                    </div>
                    <div class="col-xs-3">
                        <img ng-src="{{ basePath + 'icons/ms-icon-144x144.png' }}" alt="" class="x2"/>
                    </div>
                    <div class="col-xs-3">
                        <img ng-src="{{ basePath + 'icons/apple-icon-152x152.png' }}" alt="" class="x2"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">favicon-16x16</div>
                    <div class="col-xs-3">favicon-32x32</div>
                    <div class="col-xs-3">ms-icon-144x144</div>
                    <div class="col-xs-3">apple-icon-152x152</div>
                </div>
                <div class="description" style="margin-bottom: 25px;">
                    favicon & ms / app icon
                </div>
                <div class="row icons-row no-radius">
                    <div class="col-sm-12">
                        <div class="row icon-row">
                            <div class="col-xs-2">
                                <img ng-src="{{ basePath + 'icons/icon-128x128.png' }}" alt="" class="x2"/>
                            </div>
                            <div class="col-xs-2">
                                <img ng-src="{{ basePath + 'icons/icon-192x192.png' }}" alt="" class="x2"/>
                            </div>
                            <div class="col-xs-2">
                                <img ng-src="{{ basePath + 'icons/icon-256x256.png' }}" alt="" class="x3"/>
                            </div>
                            <div class="col-xs-3">
                                <img ng-src="{{ basePath + 'icons/icon-384x384.png' }}" alt="" class="x4"/>
                            </div>
                            <div class="col-xs-3">
                                <img ng-src="{{ basePath + 'icons/icon-512x512.png' }}" alt="" class="x4"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">icon-128x128</div>
                            <div class="col-xs-2">icon-192x192</div>
                            <div class="col-xs-2">icon-256x256</div>
                            <div class="col-xs-3">icon-384x384</div>
                            <div class="col-xs-3">icon-512x512</div>
                        </div>
                        <div class="description">
                            Web App Icon
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion-group>

    </uib-accordion>

</div>
