<div class="tab-pane active" id="tp_ios">
    <div class="row">
        <div class="col-md-6">
            <div class="mobile_preview" style="background: url('/img/iphone6.png') no-repeat;">
                <div style="position: absolute; left:235px; top:489px;">
                    <img ng-src="{{ basePath + 'icon-72.png' }}" alt="" class="x4" style="margin-top:0"/>
                    <p style="color: #ccc;font-weight: normal;font-size: 12px;text-align: center;padding-top: 5px;">您的应用</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 icons-col">
            <div class="row icons-row" style="margin-top: 50px;">
                <div class="col-sm-6">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-Small-50.png' }}" alt="" class="x2"/>
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-Small-50@2x.png' }}" alt="" class="x3"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        50pt
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row icon-row">
                        <div class="col-xs-12">
                            <img ng-src="{{ basePath + 'icon-60.png' }}" alt="" class="x2" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">1x</div>
                    </div>
                    <div class="description">
                        60pt
                    </div>
                </div>
            </div>
            <div class="row icons-row">
                <div class="col-sm-6">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon.png' }}" alt="" class="x2" />
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon@2x.png' }}" alt="" class="x3" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        57pt
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-72.png' }}" alt="" class="x3" />
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-72@2x.png' }}" alt="" class="x4" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        72pt
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="col-md-12" style="color: black; font-size:13px">
                    以及
                    <a ng-href="{{ basePath + '../iTunesArtwork.png' }}" target="_blank"><span class="label label-info" style="font-size:13px;">iTunesArtwork.png</span></a>
                    和
                    <a ng-href="{{ basePath + '../iTunesArtwork@2x.png' }}" target="_blank"><span class="label label-info" style="font-size:13px;">iTunesArtwork@2x.png</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
