<style>
    .mobile_preview.mac_mobile_preview .preview-text {
        color: white;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        padding-top: 0;
        margin-top: -1px;
        transform: scale(0.5);
    }
</style>

<div class="tab-pane active" id="tp_mac">
    <div class="row">
        <div class="col-md-9" style="padding-left: 0">
            <div class="mobile_preview mac_mobile_preview"
                 style="background: url('/img/mac.jpg') no-repeat; margin-top: 50px">
                <div style="position: absolute; left:419px; top:213px; text-align: center">
                    <img ng-src="{{ basePath + 'icon-32@2x.png' }}" alt=""
                         class="x4" style="margin-top:0; width: 43px; height: 43px"/>
                    <p class="preview-text">您的应用</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 icons-col" style="padding-left: 0">
            <div class="row icons-row">
                <div class="col-sm-12">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-16.png' }}" alt="" />
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-16@2x.png' }}" alt="" class="x2"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        Mac<br/>
                        16pt
                    </div>
                </div>
            </div>

            <div class="row icons-row">
                <div class="col-sm-12">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-32.png' }}" alt="" class="x2" />
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-32@2x.png' }}" alt="" class="x3"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        Mac<br/>
                        32pt
                    </div>
                </div>
            </div>

            <div class="row icons-row">
                <div class="col-sm-12">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-128.png' }}" alt="" class="x2" />
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-128@2x.png' }}" alt="" class="x3"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        Mac<br/>
                        128pt
                    </div>
                </div>
            </div>

            <div class="row icons-row">
                <div class="col-sm-12">
                    <div class="row icon-row">
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-256.png' }}" alt="" class="x3" />
                        </div>
                        <div class="col-xs-6">
                            <img ng-src="{{ basePath + 'icon-256@2x.png' }}" alt="" class="x4"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">1x</div>
                        <div class="col-xs-6">2x</div>
                    </div>
                    <div class="description">
                        Mac<br/>
                        256pt
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
