<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Icon download dialog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5072970286349933"
     data-ad-slot="5622244821"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <i class="fa fa-download"></i>
    <span>正在打包，下载即将开始...</span>
</div>