<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Icon download dialog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5072970286349933"
     data-ad-slot="5622244821"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="text-center">
    <a class="btn btn-raised btn-lg btn-success" ng-href="{{ downloadLink() }}" style="padding: 6px 40px; margin-left: 10px;">
        <i class="fa fa-download" style="margin-right: 10px"></i>
        立即下载
    </a>
</div>